<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miguel1</key>
            <dict>
                <key>frame</key>
                <string>{{48,326},{40,161}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{40,161}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel2</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{44,157}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{44,157}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel3</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{48,153}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{48,153}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel4</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{44,157}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{44,157}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel5</key>
            <dict>
                <key>frame</key>
                <string>{{48,326},{40,161}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{40,161}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel6</key>
            <dict>
                <key>frame</key>
                <string>{{68,164},{52,160}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{52,160}}</string>
                <key>sourceSize</key>
                <string>{84,180}</string>
            </dict>
            <key>miguel7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,161}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{64,161}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>miguel8</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{52,160}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{52,160}}</string>
                <key>sourceSize</key>
                <string>{84,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miguel.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223fea9b2144c12f42f97dfb469d78a9$</string>
            <key>textureFileName</key>
            <string>miguel.png</string>
        </dict>
    </dict>
</plist>
